<p id="notice"><%= notice %></p>

<div>
	<h3><%= @tweet.status %></h3>
</div>

<% if (current_user == @tweet.user) %>
	<%= link_to 'Edit', edit_tweet_path(@tweet) %>  
<% end %>
<%= link_to 'Back', tweets_path %>
